.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.content-container > .column {
    
}

.addressFields > input {
    margin-bottom: .35em;
}

.buttonBox {
    display: flex;
    align-items: center;
}

.buttonBox > button {
    margin-right: 10px;
}