<div class="main-landing-container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to the bank for people</h1>
      <p>At Farrellsoft Bank we dont care about silly currency. Send us your best pictures from the Inernet and we will call it the money. No customer reps means no overhead.</p>
      <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up Now &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <h3 class="testimonial-header">Our customers cant be wrong, or can they</h3>
    <div class="row">
      <div class="col-md-4">
        <h2>Jon, NC</h2>
        <p>I lost all my money gambling and thought that was it. Then I found Farrellsoft Bank and sent a bunch of cat pictures. Now I am rich!!</p>
      </div>
      <div class="col-md-4">
        <h2>Tom, MI</h2>
        <p>No identify check. No employment check. Just open an account and get money for sending in dumb pictures. I love this bank</p>
      </div>
      <div class="col-md-4">
        <h2>Donald, DC</h2>
        <p>I need a place to store my money so no one would know about it. Gotta watch these damn kids. I gave it all to Farrellsoft and now I dont know where it is. Great service!!</p>
      </div>
    </div>

    <hr>

  </div>
</div>