
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Make a Deposit</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <form>
          <div class="col-md-12 control-container">
            <label for="startingBalance">Upload an Image</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" aria-describedby="inputGroupFileAddon01"
                  (change)="onFileChange($event)">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="makeDeposit()" [disabled]="isBusy">Make Deposit</button>
    <fa name="spinner" animation="spin" size="2x" style="color: orange;" *ngIf="isBusy"></fa>
  </div>